.editor-section{
  margin-top: 60px;
  background-color: var(--color-1);
  border-radius: 50px;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  position: relative;
}
.editors-left-card{
  position: relative;
  /* width: 50%; */
  background-color: white;
  display: flex;
  border-radius: 4px;
}
.leftside{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: column;
  /* padding: 74px 26px; */
  /* padding-left: 1px;
  padding-top: 38px; */
  line-height: 1.2 !important;
  position: relative;
}
.leftside h3{
  width: 80%;
  padding-top: 15px;
  letter-spacing: -0.9px !important;
}
.leftside h3:hover{
  color: var(--secondaryColor);
}
.leftside p{
  width: 80%;
  padding-top: 13px;
  color: #888888;
  line-height: 1.3;
}
.editor-right-blog{
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  position: relative;
}
/* .editors-left-card .leftside{
  width: 50%;
  height: 100%;
} */
/* .rightside{
  position: absolute;
  top: 0;
  right: 0;
} */
.left-card-img img{
  object-fit: cover;
  border-radius: 0 4px 4px 0;
}
.hover-border-bottom {
  display: inline;
  background-image: linear-gradient(to right,
      var(--secondaryColor),
      var(--secondaryColor));
  background-size: 0 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

.hover-border-bottom:hover {
  background-size: 100% 2px;
}

@media (max-width: 576px){
  .hzz{
    display: flex;
    flex-direction: column;
  }
  
  .editor-section{
    background-color: #fff !important;
  }
}