.more-posts-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-posts-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  color: white !important;
  background-color: var(--secondaryColor) !important;
}

.arrow {
  font-size: 16px;
  font-weight: 700;
}
.hover-border-bottom {
  display: inline;
  background-image: linear-gradient(to right,
      var(--secondaryColor),
      var(--secondaryColor));
  background-size: 0 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

.hover-border-bottom:hover {
  background-size: 100% 2px;
}