.gallery-content {
    width: 92%;
    /* background-color: red; */
    padding: 60px 15px 70px;
}
.gallery-items{
    display: flex;
    gap: 30px;
}

.gallery-thumbnail {
    position: relative;
}

.gallery-overlay {
    height: 42%;
    position: absolute;
    bottom: 0;
    padding: 60px 25px 25px;
    overflow: hidden;
    /* width: 772px; */
}
.gallery-overlay::before{
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, #000 0, #03071e 30%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  pointer-events: none;
  border-radius: 4px;
}
.gallery-overlay > *{
    position: relative;
    z-index: 2;
}

.gallery-overlay h3 {
    color: white;
    font-size: 4vw;
    width: 90%;
    line-height: 1.2 !important;
    margin-top: 26px;
}

.gallery-thumbnail img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.gallery-gradient{
    width: 406px;
    height: 580px;
    background: linear-gradient(130deg, #6d62ff,#ff607d,#521d91 76.05%);
    border-radius: 4px;
}
.sl-cont{
    box-sizing: border-box;
    width: 390px;
    height: 570px;
    overflow: hidden;
    background-color: #03071e;
    padding: 20px;
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}
.gallery-gradient{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover-border-bottom {
  display: inline;
  background-image: linear-gradient(to right,
      var(--secondaryColor),
      var(--secondaryColor));
  background-size: 0 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

.hover-border-bottom:hover {
  background-size: 100% 2px;
}