.recent-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
  gap: 20px;
  /* margin-left: 50px; */
  justify-items: center;
}

.recent-post-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 346px;
}

.recent-post-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-card-meta {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  color: #000000;
}

.menu-card-meta span {
  color: #ef4444;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.recent-post-card h4 {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
  line-height: 1.4;
  margin: 0;
}
.recent-post-card h4:hover {
  color: var(--secondaryColor);
}
.hover-border-bottom {
  display: inline;
  background-image: linear-gradient(to right,
      var(--secondaryColor),
      var(--secondaryColor));
  background-size: 0 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

.hover-border-bottom:hover {
  background-size: 100% 2px;
}