.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 30px;
  width: 26px;
  height: 46px;
  background-color: #c4c4c4;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
  transition: all 0.3s ease;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.scroll-to-top:hover {
  background-color: var(--secondaryColor);
  opacity: 1;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.scroll-to-top:active {
  transform: translateY(-1px);
}